.notification-container {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}

.notification {
    padding: 4px 16px;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    text-wrap: nowrap;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 0.5s forwards, slideOut 0.5s 2.5s forwards;
}

/* Ranglar */
.notification.success {
    background-color: #4BB543;
    color: #fff !important;
}

.notification.error {
    background-color: #FF4D4D;
    color: #fff !important;
}

/* Animatsiya */
@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}